@media (max-width: 1400px) {
  html{
    font-size: 15px !important
  }
}

@media (max-width: 1300px) {
  html{
    font-size: 14px !important
  }
}

@media (max-width: 1200px) {
  html{
    font-size: 13px !important
  }
}

@media (max-width: 1100px) {
  html{
    font-size: 12px !important
  }
}

@media (max-width: 1024px) {
  html{
    font-size: 11px !important
  }
}

@media (max-width: 955px) {
  html{
    font-size: 10px !important;
  }
  body{
    overflow: scroll;
    width: 955px
  }
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.App-header {
  background-color: #222;
  height: 60%;
  padding: 1.25rem;
  color: white;
  overflow: scroll
}

.btmBtnBox {
  position: absolute;
  top: 90%;
  left: 25%;
  vertical-align: bottom;
  width: 50%;
  z-index: 8;
}

.BGcontainer {
  width: 100%;
  height: 100%;
  text-align: center; 
}

.BG {
  text-align: center;
  width: 90%;
  height: 71vh; /* Problematic */
  margin: 0 auto;
  position: relative;
  top: 2.25rem;
  overflow: hidden;
  box-shadow: 0.25rem 0.25rem 0.625rem #ccc;
}

.BGcontainer {
  background-color: rgb(254, 254, 254);
}

.black {
  color: #222
}

.btmBtnBoxLeft, .fileBtnBox{
  position: relative;
  text-align: left;
}

.btmBtnBoxLeft, .btmBtnBoxRight {
  display: inline-block;
  width: 45%;
  height: 100%;
}

.checkInput{ 
  z-index: 4; 
  position: absolute;
  left: 0;
}

.checkInput, .fileInput {
  background-color: #222; 
  color: white;
  font-size: 1rem;
}

.checkLess {
  margin-bottom: -0.5rem;
}

.checkmark {
  position: relative;
}

.checkMore {
  margin-bottom: -1.25rem;
}

.checkPtext {
  margin-bottom:-0.75rem;
}

.checkSlide {
  bottom: 7rem !important
}

.checkStext {
  margin-bottom:0.75rem;
}

.close {
  cursor: pointer;
  font-size: 1.3rem;
  float: right;
  top: 0.5rem;
  left: 14rem;
  position: absolute;
}

.coinFlip {
  transition: all ease-out .3s;
    animation-name: coinFlip;
    animation-duration: .6s;
    animation-iteration-count: infinite;
}

@keyframes coinFlip {
    0% {transform: rotateY(0deg)}
    25% {transform: rotateY(180deg)}
    50% {transform: rotateY(360deg)}
    75% {transform: rotateY(180deg)}
    100% {transform: rotateY(360deg)}
}

.coinIco {
  left: 0.3125rem
}

.colorBtnBox, .colorBtnBox2, .btmBtnBoxRight, .menuBtnBox{
  position: relative;
  text-align: right;
}

.colorBtnBox{
  z-index: 3;
}

.colorBtnBox2{
  z-index:2;
  right: -0.3125rem;
}

.colorIco, .sceneIco {
  transform: translateX(0.3125rem);
}

.colorPreview {
  font-size: large;
  height: 40%;
  width: 100%;
  transition: all ease 0.25s
}

.dragonBody {
  display: inline-block;
  position:relative;
}

.drawerStylez {
  padding: 0.3125rem;
}

.hidden {
  visibility: hidden;
}

.howToPlay {
  overflow: scroll;
  text-align: center;
}

.layer {
  position: absolute;
  top: 0rem;
  left: 0rem;
}

.menuBtn {
  margin: 0;
  display: inline-block;
  vertical-align: text-bottom;
}

.menuBtnBox {
  float: left;
  z-index: 4;
  left: 0rem;
  top: 0rem;
}

.raised {
  margin: 0 0.3125rem;
}

.rainbow{
    transition: all ease-out .7s;
    animation-name: rainbow;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

.rainbow2{
    transition: all ease-out .2s;
    animation-name: rainbow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes rainbow {
  0% {color: black}
  10% {color: purple}
  20% {color: blue}
  30% {color: limegreen}
  40% {color: aquamarine}
  50% {color: lime}
  60% {color: yellow}
  70% {color: darkorange}
  80% {color: red }
  90% {color: darkred}
  100% {color: #222}
}

.shades{
  width: 100%;
  overflow: contain;
}

.sceneIco{
  color: #222
}

i.material-icons.md-32{
  font-size: 2rem; /* 32px */
  transition: all ease 0.25s;
}

i.material-icons.md-250{
  font-size: 15.625rem; /* 250px */
  position: relative;
  /* Use when making designs */
  /*position: absolute;*/
  top: 0px;
  left: 0px;
  transition: all ease 0.25s;
}