.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.App-header {
  background-color: #222;
  height: 60%;
  padding: 1.25rem;
  color: white;
}

.btmBtnBox {
  position: absolute;
  top: 90%;
  left: 25%;
  vertical-align: bottom;
  width: 50%;
  z-index: 8;
}

.BGcontainer {
  width: 100%;
  height: 100%;
  text-align: center; 
}

.BG {
  text-align: center;
  width: 90vw; /* 1296px */
  height: 71vh; /* 500px */
  margin: 0 auto;
  position: relative;
  top: 2.25rem;
  overflow: hidden;
  box-shadow: 0.25rem 0.25rem 0.625rem #ccc;
}

.BGcontainer {
  background-color: rgb(254, 254, 254);
}

.btmBtnBoxLeft, .fileBtnBox{
  position: relative;
  text-align: left;
}

.btmBtnBoxLeft, .btmBtnBoxRight {
  display: inline-block;
  width: 45%;
  height: 100%;
}

.close {
  cursor: pointer;
  font-size: 1.3rem;
  float: right;
  top: 0.5rem;
  left: 14rem;
  position: absolute;
}

.colorBtn, .sceneBtn, .checkBtn, .challengeBtn {
  margin: 0;
  display: inline-block;
  vertical-align: text-bottom;
}

.colorBtnBox, .colorBtnBox2, .btmBtnBoxRight{
  position: relative;
  text-align: right;
}

.colorBtnBox{
  z-index: 3;
}

.colorBtnBox2{
  z-index:2;
  right: -0.3125rem;
}

.colorIco, .sceneIco {
  transform: translateX(0.3125rem);
}

.colorPreview {
  font-size: large;
  height: 40%;
  width: 100%;
  transition: all ease 0.25s
}

.dragonBody {
  display: inline-block;
  position:relative;
}

.drawerStylez {
  padding: 0.3125rem;
}

.hidden {
  visibility: hidden;
}

.layer {
  position: absolute;
  top: 0rem;
  left: 0rem;
}

.raised {
  margin: 0 0.3125rem;
}

.rainbow{
    transition: all ease-out .7s;
    animation-name: rainbow;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes rainbow {
  0% {color: black}
  10% {color: purple}
  20% {color: blue}
  30% {color: limegreen}
  40% {color: aquamarine}
  50% {color: lime}
  60% {color: yellow}
  70% {color: darkorange}
  80% {color: red }
  90% {color: darkred}
  100% {color: #222}
}

.shades{
  width: 100%;
  overflow: contain;
}

.sceneIco{
  color: #222
}

i.material-icons.md-32{
  font-size: 2rem; /* 32px */
  transition: all ease 0.25s;
}

i.material-icons.md-250{
  font-size: 15.625rem; /* 250px */
  position: relative;
  /* Use when making designs */
  /*position: absolute;*/
  top: 0px;
  left: 0px;
  transition: all ease 0.25s;
}